body{
    margin: 0;
    background-color: #bac3cd;
    user-select: none;
    display:grid;
    grid-template-columns:2fr 1fr 2fr;
    grid-template-rows: auto auto 5fr;
    overflow-x: hidden;
}
.title{
    font-size: 7em;
    text-align: center;
}
.buttons-row{
    font-size: 3em;
    text-align: center;
    height: 78px;
    background: linear-gradient(transparent 0%, #2f150b 70% 100%);
}
.buttons {
    font-size: 3em;
    margin-left: 2em;
    margin-right: 2em;
    color: aquamarine;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.soil_tile{
    position:absolute;
    z-index:-1;
}